p{
    font-weight: bold;
    font-size: 50px;
}

#Howdy{
    text-decoration: underline;
}

.emphasizedtext{
    font-style: italic;
    color: rgb(0, 0, 0);
}

body{
    background-color: rgb(247, 248, 233);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    border: 5px solid black;
    margin: 20px;
    padding: 10px;
}

.centered-list {
    list-style-position: outside;
    margin: 0 auto;
    padding-left: 0;
    width: fit-content;
    text-align: left;
}

.inner-centered {
    list-style-type: disc;
    padding-left: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 1em;
}
.tableau-container {
    display: flex;
    justify-content: center;
    margin: 40px auto;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    border: 2px solid #444;
    border-radius: 10px;
    width: fit-content;
}

